<div class="row max-height" ng-init="ctrl._initBody()">
  <div class="col-xs-12 max-height">

    <div class="row show-grid">
      <div class="col-lg-12">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="ctrl.key" ng-change="ctrl.set('key',ctrl.key)"
             placeholder="Enter encryption key..."
             title="Encryption key"
             tooltip-placement="bottom" uib-tooltip="Encryption key" />
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" ng-click="ctrl.decryptEnc()">
              <span class="glyphicon glyphicon-eye-open"></span> Decrypt it!
            </button>
          </span>
        </div>
      </div>
    </div>

    <div class="row show-grid max-height">
      <div class="col-xs-12 max-height">

        <div class="col-xs-6 max-height no-padding encrypted">
          <div ng-if="ctrl.isPasted" class="alert alert-success" role="alert">Pasted!</div>
          <button ng-if="ctrl.focus"
                ng-click="ctrl.pasteEnc()"
                class="btn btn-primary"
                type="submit">
            <span class="glyphicon glyphicon-paste"></span> Paste
          </button>
          <textarea class="form-control"
                ng-model="ctrl.encrypted"
                ng-change="ctrl.set('encrypted',ctrl.encrypted)"
                ng-focus="ctrl.focus=true"></textarea>
        </div>

        <div class="col-xs-6 max-height">
          <div markdown-it="ctrl.output" class="preview"></div>
        </div>

      </div>
    </div>

  </div>
</div>
